
# Data Cleaning in pandas

In [144]:
#important libraries
import pandas as pd

In [145]:
#Upload DataSet for cleaning
data=pd.read_csv('/content/Messy_Employment_India_Dataset.csv')

#View Dataset

In [146]:
data.head()      #it gives first 5 rows by default
#data.tail()      #it gives last 5 rows by default

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,NaN,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,NaN,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.0,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.0,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.0,19500.0,1/5/2023

In [147]:
data.info()        #it gives all data including int float str

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Status                1732 non-null   object
 1   Age Group             1768 non-null   object
 2   Education             1804 non-null   object
 3   Industry              1799 non-null   object
 4   Location              1787 non-null   object
 5   AI Risk               1716 non-null   object
 6   Years of Experience   980 non-null    float64
 7   Monthly Salary (INR)  1613 non-null   float64
 8   Date Recorded         2000 non-null   object
dtypes: float64(2), object(7)
memory usage: 140.8+ KB

In [148]:
data.describe()      #it describes only int values

       Years of Experience  Monthly Salary (INR)
count           980.000000           1613.000000
mean             15.244898          76886.360818
std               9.103941          41628.008054
min               0.000000           5100.000000
25%               7.000000          40700.000000
50%              16.000000          77200.000000
75%              23.000000         112400.000000
max              30.000000         149900.000000

In [149]:
data.shape                 #it gives total rows and columns in data
                           #no need of brackets()

(2000, 9)

# MISSING VALUE

In [150]:
data.isnull()    #to check missing value, true is missing false if data is filled.

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,False,False,False,False,False,True,True,False,False
1,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,True,False,False
1996,False,False,False,False,True,True,False,False,False
1997,True,False,False,False,True,False,True,False,False
1998,False,False,False,False,False,False,False,False,False
1999,False,False,False,True,True,False,True,False,False

In [151]:
data.isnull().sum()         #sum up all the null space

Status                   268
Age Group                232
Education                196
Industry                 201
Location                 213
AI Risk                  284
Years of Experience     1020
Monthly Salary (INR)     387
Date Recorded              0
dtype: int64

# HANDLING MISSING VALUES
### fillna()..this func for filling value inside it at empty space

In [152]:
#replacing all null space by finding mean of it.
data['Years of Experience'] = data['Years of Experience'].fillna(data['Years of Experience'].mean())
data

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,NaN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

In [153]:
#replacing null value by word
data['Status']=data['Status'].fillna('UNKNOWN')
data

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,UNKNOWN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

# REMOVE DUPLICATES IN DATASET

In [154]:
#it removes the duplicate rows
data.drop_duplicates()
data

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,UNKNOWN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

# Check And Fix Data type

In [155]:
#o check data type of every group
data.dtypes

Status                   object
Age Group                object
Education                object
Industry                 object
Location                 object
AI Risk                  object
Years of Experience     float64
Monthly Salary (INR)    float64
Date Recorded            object
dtype: object

In [156]:
#To change the data type
#data['Age Group'] = data['Age Group'].astype(int)

# Rename The Columns

In [157]:
#it will change the column heading, We can change multiple name at a time just by using "," in curly braces
data=data.rename(columns={'Age Group':'Age'})
data

,Status,Age,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,UNKNOWN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

# Handle Outliers (Simple Filtering by using conditions)

In [158]:
#it will sort data based on condition
data_sort=data[data['Monthly Salary (INR)']<10000]
data_sort

,Status,Age,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
41,employed,25-34,Bachelor's,Fintech,Delhi,Low,25.000000,7700.0,2/11/2023
97,Employed,25_34,Ph.D,NaN,urban,High,2.000000,8900.0,4/8/2023
114,Employed,25-34,Masters,Education,suburban,low,15.000000,7600.0,4/25/2023
118,UNKNOWN,25_34,NaN,Finance,Urban,Medium,15.244898,5400.0,4/29/2023
141,EMPLOYED,18-24,Diploma,Healthcare,Delhi,HIGH,15.244898,8000.0,5/22/2023
221,UNKNOWN,35 - 44,Diploma,Tech,Mumbai,Low,13.000000,6500.0,8/10/2023
224,UNKNOWN,18 to 24,NaN,Technology,Urban,HIGH,15.244898,6500.0,8/13/2023
235,unemployed,NaN,Master,Retail,urban,moderate,15.244898,8000.0,8/24/2023
237,employed,45-54,NaN,Education,Mumbai,Low,28.000000,7100.0,8/26/2023
269,employed,25_34,PhD,Retail,suburban,Low,15.244898,8900.0,9/27/2023
280,Employed,45-54,Bachelors,Tech,suburban,low,15.244898,8700.0,10/8/2023
338,UNEMPLOYED,18-24,NaN,Retail,urban,NaN,13.000000,8700.0,12/5/2023
348,EMPLOYED,25_34,Bachelor's,NaN,urban,High,3.000000,5400.0,12/15/2023
419,UNEMPLOYED,NaN,high school,Healthcare,suburban,moderate,30.000000,8600.0,2/24/2024
425,Employed,18-24,Bachelors,Fintech,Urban,low,15.244898,9100.0,3/1/2024
456,UNEMPLOYED,35 - 44,Masters,Tech,suburban,HIGH,15.244898,5100.0,4/1/2024
485,employed,18-24,Ph.D,Health,urban,High,26.000000,6800.0,4/30/2024
524,Unemployed,45-54,high school,Education,NaN,moderate,15.244898,8000.0,6/8/2024
534,Employed,55+,Bachelor's,NaN,urban,High,15.244898,8200.0,6/18/2024
537,employed,55+,NaN,Technology,NaN,moderate,15.244898,9800.0,6/21/2024
657,UNKNOWN,55+,Diploma,Fintech,NaN,High,9.000000,9500.0,10/19/2024
692,Employed,35 - 44,Diploma,Technology,suburban,Low,15.244898,6300.0,11/23/2024
713,EMPLOYED,25_34,High School,Retail,urban,low,15.244898,8300.0,12/14/2024
767,unemployed,55+,High School,Retail,Mumbai,Medium,15.244898,7300.0,2/6/2025
802,EMPLOYED,45-54,Diploma,Retail,Hyderabad,Low,15.244898,9900.0,3/13/2025
818,employed,NaN,PhD,Healthcare,Hyderabad,moderate,15.244898,7500.0,3/29/2025
881,employed,25_34,High School,Health,Delhi,HIGH,15.244898,6400.0,5/31/2025
892,UNEMPLOYED,NaN,Ph.D,Tech,rural,High,15.244898,9700.0,6/11/2025
917,EMPLOYED,18-24,Masters,Finance,rural,High,15.244898,6400.0,7/6/2025
968,EMPLOYED,18 to 24,Diploma,Retail,suburban,HIGH,15.244898,7900.0,8/26/2025
990,employed,18-24,high school,Healthcare,Urban,Low,15.244898,8100.0,9/17/2025
1055,Unemployed,NaN,High School,Retail,urban,Medium,3.000000,5500.0,11/21/2025
1066,Employed,18 to 24,NaN,Health,urban,High,15.244898,5100.0,12/2/2025
1071,UNKNOWN,18-24,NaN,NaN,Mumbai,Medium,15.244898,7800.0,12/7/2025
1085,UNKNOWN,NaN,PhD,Finance,Mumbai,Medium,15.244898,7300.0,12/21/2025
1094,employed,25_34,NaN,Technology,rural,HIGH,20.000000,8800.0,12/30/2025
1115,unemployed,35 - 44,Bachelors,Technology,Urban,low,23.000000,7600.0,1/20/2026
1177,Employed,25_34,High School,Healthcare,Delhi,HIGH,15.244898,7900.0,3/23/2026
1228,UNEMPLOYED,18 to 24,High School,Retail,NaN,High,29.000000,6300.0,5/13/2026
1230,UNEMPLOYED,NaN,PhD,Finance,suburban,low,15.244898,5800.0,5/15/2026
1270,Employed,55+,high school,Healthcare,Delhi,HIGH,4.000000,6100.0,6/24/2026
1285,EMPLOYED,35 - 44,Bachelors,Education,rural,High,15.244898,9600.0,7/9/2026
1297,UNKNOWN,45-54,Diploma,Education,Hyderabad,Low,25.000000,6100.0,7/21/2026
1324,UNEMPLOYED,25-34,Ph.D,Retail,NaN,low,20.000000,6700.0,8/17/2026
1383,UNKNOWN,25_34,Master,Health,Hyderabad,NaN,25.000000,9800.0,10/15/2026
1418,Unemployed,18-24,Master,Healthcare,urban,Medium,15.244898,9700.0,11/19/2026
1498,Employed,18 to 24,Bachelors,Fintech,suburban,Medium,15.244898,8400.0,2/7/2027
1500,employed,35 - 44,Bachelors,Tech,Hyderabad,HIGH,30.000000,9400.0,2/9/2027
1537,UNKNOWN,25_34,Ph.D,Finance,Bangalore,moderate,15.244898,9400.0,3/18/2027
1594,UNKNOWN,18 to 24,High School,Retail,NaN,low,19.000000,5800.0,5/14/2027
1596,employed,18 to 24,Bachelor's,Health,Delhi,low,15.244898,6500.0,5/16/2027
1703,employed,35 - 44,Bachelors,Tech,Bangalore,NaN,15.244898,8200.0,8/31/2027
1727,UNEMPLOYED,35 - 44,Masters,Fintech,Hyderabad,Low,15.244898,7000.0,9/24/2027
1790,Unemployed,18 to 24,PhD,Fintech,urban,low,10.000000,7200.0,11/26/2027
1889,employed,45-54,Bachelors,Retail,rural,NaN,15.244898,6400.0,3/4/2028
1891,UNEMPLOYED,55+,high school,Health,rural,HIGH,15.244898,7600.0,3/6/2028
1994,Unemployed,55+,Bachelors,Education,urban,Low,15.244898,9000.0,6/17/2028

# Clean Text Data

In [159]:
#Removes extra spaces from the beginning and end
data['Education'] = data['Education'].str.strip()
data

,Status,Age,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.000000,100200.0,1/4/2023
4,UNKNOWN,45-54,Diploma,Fintech,Hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,Hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,Mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

In [160]:
#Converts all city names to lowercase letters.
data['Location'] = data['Location'].str.lower()
data

,Status,Age,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,urban,Low,30.000000,100200.0,1/4/2023
4,UNKNOWN,45-54,Diploma,Fintech,hyderabad,low,9.000000,19500.0,1/5/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

# DATA  VALIDATION

In [161]:
#it will show data of those have YOE more than 10 year
data=data[data['Years of Experience']>10]
data

,Status,Age,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,urban,NaN,15.244898,40700.0,1/1/2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,15.244898,17500.0,1/2/2023
2,EMPLOYED,25_34,High School,Retail,delhi,Low,16.000000,77600.0,1/3/2023
3,UNEMPLOYED,18-24,Masters,Retail,urban,Low,30.000000,100200.0,1/4/2023
5,Unemployed,25_34,PhD,Tech,bangalore,HIGH,15.244898,54500.0,1/6/2023
...,...,...,...,...,...,...,...,...,...
1995,employed,25-34,Ph.D,Finance,hyderabad,Low,15.244898,113000.0,6/18/2028
1996,EMPLOYED,25-34,PhD,Tech,NaN,NaN,22.000000,102200.0,6/19/2028
1997,UNKNOWN,35 - 44,Masters,Education,NaN,low,15.244898,31600.0,6/20/2028
1998,EMPLOYED,25_34,high school,Retail,mumbai,HIGH,22.000000,92500.0,6/21/2028
1999,UNEMPLOYED,25_34,High School,NaN,NaN,moderate,15.244898,43300.0,6/22/2028

In [162]:
#it will show data acc to condition
#data = data[(data['Age'] > 0) & (data['Age'] <= 120)]

# To save the clean or modified file

In [163]:
data.to_csv("cleared data.csv",index=False)